<%- include ('../partials/adminHeader.ejs') %>



  <div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="danger">
      <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	 -->

      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text"> Male-Fashion </a>
        </div>

        <ul class="nav">
          <li>
            <a href="/admin">
              <i class="ti-panel"></i>
              <p>Dashboard</p>
            </a>
          </li>
    
          <li>
            <a href="/admin/adminUsers">
              <i class="ti-view-list-alt"></i>
              <p>User List</p>
            </a>
          </li>
          <li>
            <a href="/admin/adminProductlist">
              <i class="ti-view-list-alt"></i>
              <p>Product List</p>
            </a>
          </li>
          <li>
            <a href="/admin/adminCategory">
              <i class="ti-text"></i>
              <p>Category</p>
            </a>
          </li>
          <li>
            <a href="/admin/adminOffer">
              <i class="ti-pencil-alt2"></i>
              <p>AdminOffer</p>
            </a>
          </li>
          <li class="active">
            <a href="/admin/banners">
              <i class="ti-map"></i>
              <p>Banner</p>
            </a>
          </li>
          <li>
            <a href="/admin/adminOrder">
              <i class="ti-bell"></i>
              <p>Orders</p>
          </a>
          </li>
          <li>
            <a href="/admin/salesSheet">
              <i class="ti-bell"></i>
              <p>Sales sheet</p>
            </a>
   
        </ul>
      </div>
    </div>

    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">Banners</a>
          </div>
      
        </div>
      </nav>

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="content table-responsive table-full-width">
                  <div class="work-category py-3 px-3">
                    <div class="d-flex flex-column align-items-center">
                      <h2 class="mt-2">Manage Banners</h2>
                    </div>
                    <div class="mt-3 ps-2">

                      <form action="/admin/banners" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-md-12 mb-4 d-flex  justify-content-around">
                            <div class="form-outline">
                              <input style="width: 30vw;background-color: rgb(56, 70, 70);" type="text" name="bannername" id="form3Example1"
                                class="form-control" placeholder="Enter Banner-name" />
                            </div>

                            <% if(typeof message !=='undefined' ){%>

                              <p class="mt-1 ps-2 text-danger">
                                <%= message %>
                              </p>

                              <%}%>
                                <div class="form-outline ">
                                  <input style="width: 30vw;" type="file" name="bannerimage" id="form3Example1"
                                    class="form-control" multiple />
                                </div>

                                <input style="width:7vw; " type="submit" class="btn btn-primary "
                                  value="Upload">
                          </div>
                        </div>

                      </form>


                    </div>
                    <!-- categorey table -->
                    <div class="container bootstrap snippets bootdey">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                              <div class="table-responsive">
                                <table class="table table-hover" >
                                  <thead>
                                    <tr>
                                      <th scope="col">SI NO</th>
                                      <th scope="col">Image</th>
                                      <th scope="col">Name</th>
                                      <th scope="col">Status</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% if(banners.length> 0){
                                      for(let i=0; i<banners.length;i++ ){%>
                                        <tr>
                                          <td>
                                            <span>
                                              <%=i+1 %>
                                            </span>
                                          </td>
                                          <td><img src="/banners/<%=banners[i].banerimage[0] %>" alt="" width="100vw"
                                              height="50vh">
                                            <img src="/banners/<%=banners[i].banerimage[1] %>" alt="" width="100vw"
                                              height="50vh">
                                            <img src="/banners/<%=banners[i].banerimage[2] %>" alt="" width="100vw"
                                              height="50vh">
                                          </td>
                                          <td>
                                            <%=banners[i].banner %>
                                          </td>
                                          <td>
                                            <% if(banners[i].isActive==1) { %>

                                              <img style="width: 1.6vw" src="assets/img/greenmark.png " />
                                              <% } else { %>

                                                <img style="width: 1.9vw" src="assets/img/redmark.png "
                                                  data-toggle="modal" data-target="#model<%=banners[i]._id  %>" />
                                                  <% } %>

                                          </td>

                                          <td>

                                            <a 
                                              href="/admin/current-banner?id=<%= banners[i]._id %>" class="btn btn-primary choose">Choose</a>

                                          </td>

                                     












                                        </tr>
                                        <%}}%>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <nav class="pull-left">
            <ul>
              <li>
                <a href="#"> Male-Fashion </a>
              </li>
              <li>
                <a href="#"> Blog </a>
              </li>
              <li>
                <a href="#"> Licenses </a>
              </li>
            </ul>
          </nav>
          <div class="copyright pull-right">
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            , made with <i class="fa fa-heart heart"></i> by
            <a href="#">Male-Fashion</a>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script>
  
  $(".choose").on("click", function(e) {
    e.preventDefault()
    var self = $(this)
    Swal.fire({
  title: 'Do you want to change the banner?',
  showDenyButton: true,
  // showCancelButton: true,
  confirmButtonText: 'Change',
  denyButtonText: `Don't Change`,
// }).then((result) => {
  // /* Read more about isConfirmed, isDenied below */
  // if (result.isConfirmed) {
  //   Swal.fire('Blocked!', '', 'success')
  // } else if (result.isDenied) {
  //   Swal.fire('User not blocked', '', 'info')
  // }
}).then((result) => {
      if (result.isConfirmed) {

        location.href = self.attr("href")
    }
})

})
  
  
  </script>

  <%- include ('../partials/adminSidebar.ejs') %>