<% if(isLoggedin) { %> <%- include ('../partials/user-loggedin.ejs') %> <% }else {
  %> <%- include ('../partials/user-header.ejs') %> <% } %>

<!-- Hero Section Begin -->
<% if(banners.length > 0){
    for(let i=0; i<banners.length;i++ ){%>
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__items set-bg" data-setbg="/banners/<%=banners[i].banerimage[0] %>">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>Summer Collection</h6>
              <h2>Fall - Winter Collections 2030</h2>
              <p style="color: black;">
                A specialist label creating luxury essentials. Ethically crafted
                with an unwavering commitment to exceptional quality.
              </p>
              <a href="/shop" class="primary-btn"
                >Shop now <span class="arrow_right"></span
              ></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="hero__items set-bg" data-setbg="/banners/<%=banners[i].banerimage[1] %>">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>Summer Collection</h6>
              <h2>Fall - Winter Collections 2030</h2>
              <p style="color: black;">
                A specialist label creating luxury essentials. Ethically crafted
                with an unwavering commitment to exceptional quality.
              </p>
              <a href="/shop" class="primary-btn"
                >Shop now <span class="arrow_right"></span
              ></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero__items set-bg" data-setbg="/banners/<%=banners[i].banerimage[2] %>">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>Summer Collection</h6>
              <h2>Fall - Winter Collections 2030</h2>
              <p style="color: black;">
                A specialist label creating luxury essentials. Ethically crafted
                with an unwavering commitment to exceptional quality.
              </p>
              <a href="/shop" class="primary-btn"
                >Shop now <span class="arrow_right"></span
              ></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%}}%>
  </div>
</section>

<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img class="img-fluid" src="/assets/img/banner/banner-1.jpg" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Clothing Collections 2030</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img class="img-fluid" src="/assets/img/banner/banner-2.jpg" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Accessories</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img class="img-fluid" src="/assets/img/banner/banner-3.jpg" alt="" />
          </div>
          <div class="banner__item__text">
            <h2>Shoes Spring 2030</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active" data-filter="*">Best Sellers</li>
          <!-- <li data-filter=".new-arrivals">New Arrivals</li>
          <li data-filter=".hot-sales">Hot Sales</li> -->
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      <% if(products.length > 0){ for(let key of products){ %> <% if(key.rating
      <=5 && key.isAvailable ==1) { %>
      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals"
      >
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            data-setbg="/banners/<%= key.image[0] %>"
          >
            <span class="label">New</span>
            <ul class="product__hover">
              <li>
                <a href="/add-to-wishlist?id=<%= key._id %>"><img src="img/icon/heart.png" alt="" /></a>
              </li>
              <li>
                <a href="/view-product?id=<%= key._id %>"
                  ><img src="img/icon/compare.png" alt="" />
                  <span>View details</span></a
                >
              </li>
              <li>
                <a href="#"><img src="img/icon/search.png" alt="" /></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><%= key.productname %></h6>
            <a href="/add-to-cart?id=<%= key._id %>" class="add-cart">+ Add To Cart</a>
            <div class="rating" data-rating="<%= key.rating %>">
              <% for(let count=0; count<key.rating; count++) { %>
              <i style="color:#f7941d" class="fa fa-star"></i>
              <% } %> 
           
            </div>
            <h5>Rs.<%= key.price %></h5>
          
          </div>
        </div>
      </div>
      <% }%> <% } %> <% }else { %>
      <h1>No products in Database</h1>
      <% } %>
    </div>
  </div>
</section>
<!-- Product Section End -->


<!-- <h1>Home</h1>

<button>
    <a href="/register" style="text-decoration: none">Register</a>
  </button>
  <button>
    <a href="/login" style="text-decoration: none">Login</a>
  </button> -->

<%- include ('../partials/user-footer.ejs') %>
